<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <style>
      body {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 95vh;
      }
    </style>
  </head>
  <body>
    <h1>PAGE NOT FOUND</h1>
    <h3>Go To <a href="{{ url_for('home') }}">home</a></h3>
  </body>
</html>
