{% extends 'base.html' %}
{% block title %} About  {% endblock %}
{% block heading %}About This Project {% endblock %}
{% block content %}
<p>Air pollution is an invisible but serious challenge that affects millions globally. This app was created to bridge the gap between data and actionable insights, empowering users to make informed choices about their health and environment.</p>

<table>
   <tr>
      <td style="text-align: center;"><h3>Technologies Used</h3></td>
      <td>
         <li>Backend: Flask</li>
         <li>Frontend: HTML, CSS, JS, Jinja Templates</li>
         <li>ML Models: Linear Regression</li>
         <li>Data Visualization: Matplotlib, seaborn</li>
      </td>
   </tr>
</table>

<p>Curious to explore how this app works under the hood? Visit my <a href="https://github.com/adnaaaen/air-quality-index-analysis">Github repository</a>to view the source code, contribute to the project, or use it as inspiration for your own ideas.🌍✨</p>

{% endblock %}
{% block footer %}
<p style="font-size: 12px">
  Made by
  <a href="https://linktr.ee/adnaaaen" style="font-size: 14px">Adnan</a>
</p>
{% endblock %}

