{% extends 'base.html' %}
{% block title %} Model {% endblock %}
{% block heading %}Model{% endblock %}
{% block content %}
<div class="container" style="align-items: end;">
   <form action="{{ url_for('api.predict') }}" method="get">
      <input type="submit" value="Make Prediction" class="primary-button">
   </form>
</div>

<div class="space-between-container">
    <div class="container">
        <h3>Overview</h3>
            <ul>
                <li>
                    Model : <strong>Random Forest Regressor</strong>
                </li>
                <li>
                    Type of Model : <strong>Supervised (regression)</strong>
                </li>
                <li>
                    Best Params: 
                    <ul>
                        <li><strong>max_depth</strong>: 15</li>
                        <li>
                            <strong>min_samples_leaf</strong>: 2
                        </li>
                        <li>
                            <strong>min_samples_split</strong>: 2
                        </li>
                        <li>
                            <strong>n_estimators</strong>: 100 
                        </li>
                    </ul>
            </ul>
    </div>
    <div class="container">
            <h3>Evaluation Metrics</h3>
            <table>
                <tr>
                    <th></th>
                    <th>MAE</th>
                    <th>MSE</th>
                    <th>R² Score</th>
                </tr>
                <tr>
                    <th>Train Set</th>
                    <td>0.1856</td>
                    <td>0.2063</td>
                    <td>0.8521</td>
                </tr>
                <tr>
                    <th>Test Set</th>
                    <td>0.0693</td>
                    <td>0.0852</td>
                    <td>0.8180</td>
                </tr>
            </table>
    </div>
</div>
{% endblock %}

